ul {
	margin: 0;
	padding: 0;
}

ul li {
	margin: 0;
	list-style-type: none;
	display: block;
	float: left;
	position: relative;

	width: 50%;
	height: 0;
	padding-bottom: 50%;
	
	background-size: cover;
	background-position: center;
}

.cover {
	margin: 0;
	transition: .4s;
	width: 100%;
	height: 100%;
	position: absolute;
}

h2 {
	padding: 2rem;
	line-height: 1.2;
	font-size: 3vw;
}

/* HOVER effect*/

body.test .cover {
	opacity: 0;
}

body.test h2 {
	opacity: 1;
}

.cover {
	opacity: 1;
	cursor: pointer;
}
.cover:hover,
.cover:active,
.cover:focus {
	opacity: 0;
	-webkit-user-select: none;
	-webkit-touch-callout: none;  
}

h2 {
	opacity: 0;
	transition: .8s;
	pointer-events: none;
}

li:hover h2,
li:focus h2,
li:active h2 {
	opacity: 1;
	-webkit-user-select: none;
	-webkit-touch-callout: none;  
}

/* TYPOGRAPHY */

@font-face {
  font-family: 'alpha';
  src: url('alpha_echo-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'alpha';
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

/* SIZES */

.s {
	font-size: 80%;
}

.m {
	font-size: 90%;
}

.l {
	font-size: 110%;
}

.xl {
	font-size: 120%;
}

/* COLOURS */

.cover {	
	color: white;
}

h2 {
	color: white;
	text-shadow: 0 1px 3px rgba(0,0,0,0.3);
}	

.sunset-orange
{
	background-color: #F64747;
}

.plum
{
	background-color: #913D88;
}

.flower
{
	background-color: #F1A9A0;
}

.radical
{
	background-color: #F62459;
}

.spray
{
	background-color: #81CFE0;
}

.jacksons-purple
{
	background-color: #1F3A93;
}

.aqua-island
{
	background-color: #A2DED0;
}

.mountain
{
	background-color: #1BBC9B;
}

.california
{
	background-color: #F89406;
}

.cape-honey
{
	background-color: #FDE3A7;
}

.ecstasy
{
	background-color: #F9690E;
}

.summer-sky
{
	background-color: #1E8BC3;
}

.madang
{
	background-color: #C8F7C5;
}

.sandstorm
{
	background-color: #F9BF3B;
}


/* RESPONSIFYINGS */

body {
	max-width: 60rem;
	margin: 0 auto;
}

@media (max-width: 40rem) {

	ul li {
		width: 100%;
		padding-bottom: 100%;
	}
}	
